.container.hero-section{
   
    padding-top: 120px;

  
    .row{
        .hero-description{

            h2{
                font-family: 'Jost', sans-serif;
                font-size: 25px;
                color: #F75022;
                margin-top: 10px;

                }
                h1{
                    font-family: 'Jost', sans-serif;
                    font-size: 3.5rem;
                }
                h3{
                    color: #1cbe59;
                    padding-bottom: 20px;
                
                }
                p{
                    color: #6f6b80;
                    font-size: 16px;
                    padding-bottom: 20px;

                }
        }
        .hero-img{
            img{
                width: 350px;
                height: auto;
               

            }
        }
    }
}
.btn {
    --background-color: #F75022;
    --accent-color: #f3efef;
    background-color: var(--background-color);
    color: #fff;
    padding: .6em 1.5em;
    outline: 2px solid #F75022;
    position: relative;
    cursor: pointer;
  }
  
  .btn.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleY(0) translateY(-100%);
    transform-origin: top;
  }
  
  .btn.btn-background-slide:hover::before,
  .btn.btn-background-slide:focus::before {
    transform: scaleY(1) translateY(0%);
  }
  
  .btn.btn-background-slide {
    transition: transform 300ms ease-in-out, color 300ms ease-in-out; /* Add color transition */
    z-index: 1;
  }
  
  .btn.btn-background-slide:hover,
  .btn.btn-background-slide:focus {
    color: #000;
  }
  
  .btn.btn-background-slide:hover::before,
  .btn.btn-background-slide:focus::before,
  .btn.btn-background-slide:hover,
  .btn.btn-background-slide:focus {
    transition-delay: 0ms; /* Reset transition delay for simultaneous effect */
  }
  
  @media (max-width: 991.98px) {
    .order-lg-1 {
      order: 2;
    }
  
    .order-lg-2 {
      order: 1;
    }
  }
  @media screen and (max-width: 968px) {
    .container{
        padding: 0;
    }
    .container.hero-section {
      padding-top: 30px; /* Adjust padding for smaller screens */
      text-align: center;
    }
    .row{
      .hero-description{
          h1{
              font-size: 3rem;
              
          }
      }
    }
   
}
@media screen and (max-width: 769px){
  .row{
    .hero-description{
        h1{
            font-size: 2.5rem;
            
        }
    }
  }
}
@media screen and (max-width: 495px){
  .row{
  .hero-description{
      h1{
          font-size: 1.5rem;
          
      }
  }
}
}
  